*{
  font-family: sans-serif;
}

html{
  background: #76b852;
}

.login-page {
  width: 100%;
  padding: 5% 0 0;
  margin: auto;
}

.homepage {
    background: #76b852;
}

.form {
  position: relative;
  z-index: 1;
  background: #76b852;
  max-width: 100%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container {
  position: relative;
  z-index: 1;
  background: #76b852;
  max-width: 100%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container table {
  margin: auto;
}

.container img {
  width: 100px;
  margin: auto;
}

.btn{
  background-color: black;
  color: white;
  font-size: 1.5em;
  width: 200px;
  border-radius: 5px;
  padding: 5px;
}

.progress span {
  display: block;
  margin: auto;
}

.progress-title p {
  display: block;
  margin: auto;
}

.progress input {
  width: 2rem;
  background: white;
}

.form-logo img {
  width: 100%;
  padding-bottom: 1rem;
}

.form-field label {
}

.form-field input {
}

.form-button {
  padding-top: 1rem;
}

.form-extra {
}

.signup-type {
}

.heading{
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}

.head-selector{
  margin: 2% auto;
}
.head-selector select{
  width: 250px;
  padding: 1%;
  font-size: 1.8em;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.central{
    text-align: center;
}

.navbarUl{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #111;
}

.navbarUlsmall{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #161;
    width:50%;
    display:inline-table;
}

.leftside{
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 5px;
}

.rightside{
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 5px;
}

.navbarLi{
    float: left;
}

.navbarLi a {
    display: block;
    background-color: #111;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

.navbarLi a:hover {
    background-color: #333;
}

.pic-upload img {
  width: 100px;
  margin: auto;
}

.teamstats{
  overflow-x: auto;
}
.teamstats table{
  width: 90%;
  border: 1px solid black;
  border-collapse: collapse;
}
.teamstats th,td{
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: bottom;
  padding: 5px;
}
.teamstats th{
  background-color: #161;
}
.teamstats td{
  background-color: white;
}
.teamstats th:nth-child(2){
  width: 150px;
}

/* testing colors for color scheme
#f2f2f2; greyish
#4CAF50; green
#EF3B3A; reddish
#76b852; light green
*/

/* Below is CSS for anything */

.min-width-250{ min-width: 250px; } /* for mobile */
.width-250{width: 250px; }

.width-25{ width: 25%; }
.width-50{ width: 50%; }
.width-75{ width: 75%; }
.width-100{ width: 100%; }

.fnt-xxxs{ font-size: 0.4em; }
.fnt-xxs{ font-size: 0.6em; }
.fnt-xs{ font-size: 0.8em; }
.fnt-sm{ font-size: 1em; }
.fnt-md{ font-size: 1.2em; }
.fnt-lg{ font-size: 1.4em; }
.fnt-xl{ font-size: 1.5em; }
.fnt-xxl{ font-size: 2em; }

.txt-left{ text-align: left; }
.txt-cntr{ text-align: center; }
.txt-right{ text-align: right; }

.pd-sm{ padding: 1%; }
.mg-sm{ margin: 1%; }