.login-page {
  width: 100%;
  padding: 5% 0 0;
  margin: auto;
}

.homepage {
    background: #76b852;
}

.form {
  position: relative;
  z-index: 1;
  background: #76b852;
  max-width: 100%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-logo img {
  width: 100%;
  padding-bottom: 1rem;
}

.form-field label {
}

.form-field input {
}

.form-button {
  padding-top: 1rem;
}

.form-extra {
}

.signup-type {
}

.heading{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

.central{
    text-align: center;
}

.navbarUl{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #111;
}

.navbarUlsmall{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #161;
    width:50%;
    display:inline-table;
}

.leftside{
    float: left;
    font-size: x-large;
    font-weight: bold;
    padding-left: 5px;
}

.rightside{
    float: right;
    font-size: x-large;
    font-weight: bold;
    padding-right: 5px;
}

.navbarLi{
    float: left;
}

.navbarLi a {
    display: block;
    background-color: #111;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

.navbarLi a:hover {
    background-color: #333;
}


/* testing colors for color scheme
#f2f2f2; greyish
#4CAF50; green
#EF3B3A; reddish
#76b852; light gree
*/
